<div class="entry-fields">
    <div class="login">
        <h3><span class="label">Login:</span></h3>
        <form id="login-form" action="/profile">
            <input class="inpt text" type="text" name="username" placeholder="Username">
            <input class="inpt button" type="submit" value="Go!">
        </form>
    </div>
    <div class="sign-up">
        <h3><span class="label">Don't have an account yet?</span><p id="sign-up-button" class="sign-up-a" data-target="#signupmod">Sign up!</p></h3>
    </div>
</div>