.message {
    text-align: left;
    font-size: 0.85em;
    background: rgba(0, 0, 0, 0.2);
    padding: 7px;
    margin-bottom: 7px;
}

.new {
    color: greenyellow;
}

.authFailed {
    color: red;
}

.inpt.bttn {
    width: 90px;
    background-color: #efffef;
    color: #777;
}

.inpt.bttn:hover {
    background-color: white;
    color: goldenrod;
}

.inpt.text {
    font-weight: 300;
    width: 180px;
    color: grey;
}

.brand.landing {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -180px;
    margin-right: auto;
    width: 380px;
}

.logo.landing {
    color: white;
    font-size: 5em;
    line-height: 0;
}

.check.landing {
    position: absolute;
    font-size: 0.7em;
    border: solid white 2px;
    border-radius: 2px;
    height: 25px;
    width: 25px;
    margin-left: 40px;
    top: -5px;
    padding: 5px 6px 2px 1px;
}

.subtext.landing {
    padding-top: 12px;
    font-size: 2em;
    line-height: 1.2em;
    color: white;
    font-weight: 100;
}

.entry-fields {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    padding-top: 115px;
    text-align: center;
}

.login, .sign-up {
    border: solid 1px white;
    color: white;
    margin: 20px;
    padding: 10px;
}

.sign-up-a {
    color: white;
}

.sign-up-a:hover {
    color: gold;
}

.login>h3, .login>form, .sign-up>h3 {
    display: inline;
}

.login>h3>.label {
    padding-right: 10px;
}

.sign-up>h3>.label {
    padding-right: 67px;
}

/*============MEDIA=QUERIES===========================*/
/*Extra-small screens*/
@media (max-width: 460px) {
    .brand.landing {
        width: 280px;
        margin-left: -130px;
    }

    .logo.landing {
        font-size: 3.5em;
    }

    .check.landing {
        height: 17px;
        width: 17px;
        margin-left: 30px;
        top: -5px;
        padding: 5px 6px 2px 1px;
    }

    .subtext.landing {
        font-size: 1.65em;
        width: 280px;
    }

    .entry-fields {
        width: 320px;
        margin-left: -160px;
    }

    .login>h3>.label {
        padding-right: 5px;
    }

    .sign-up>h3>.label {
        padding-right: 7px;
    }
    
    .inpt {
        font-size: 1em;
    }

    .inpt.bttn {
        width: 70px; 
    }

    .inpt.text {
        width: 125px;
    }
}

@media (orientation: landscape) and (max-height: 450px) {
    .brand.landing {
        top: 50px;
    }

    .entry-fields {
        top: 50px;
        padding-top: 100px; 
    }
}