/* h1 is the BuckIt logo */

h2 {
    font-size: 3em;
    font-weight: 300;
}

h3 {
    font-size: 2em;
    font-weight: 300;
}

h4 {
    font-size: 1.5em;
    font-weight: 300;
}

h5 {
    display: inline;
}

.bkg {
    opacity: 0.4;
}

.container.profile {
    position: relative;
}

.header.profile {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgba(30,100,100, 0.5)
}

.brand.profile {
    position: relative;
}

.logo.profile {
    font-size: 1.5em;
    color: #333a69;
    margin-right: 40px;
}

.subtext.profile {
    display: inline;
    color: #333a69;
    font-size: 1.5em;
    font-weight: 300;
}

.check.profile {
    position: absolute;
    top: 7px;
    height: 10px;
    width: 10px;
    line-height: 2px;
    font-size: 1em;
    border: solid white 1px;
    border-radius: 2px;
    margin-left: 15px;
    padding: 0 2px 2px 0;
}

.username.profile {
    position: absolute;
    right: 15px;
    top: 0;
    color: #333a69;
    line-height: 0.7em;
}


.bttn {
    margin: 10px 0;
    position: relative;
    background: none;
    color: #333a69;;
    border: solid 2px #333a69;;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 5px;
    padding: 20px 15px;
}

.bttn:hover {
    background: #f5f5ff;
}

.add-new>.text {
    margin-left: 40px;
}

.add-new>.plus {
    position: absolute;
    top: 22px;
    font-size: 1.9em;
    font-weight: 700;
    line-height: 0;
}

.bucket-list {
    font-weight: 100;
    color: #333a69;
}

.category-box {
    position: relative;
    margin: 15px 0;
    padding: 15px;
    border: solid 2px #333a69;
    background: white;
}

.activity {
    margin: 15px 0;
    padding: 15px 0 5px 0;
    background: rgba(255, 255, 255, 0.8);  
    border-top: solid #333a69 2px;
    border-bottom: solid #333a69 2px;
    border-radius: 2px; 
    color: black;
    font-weight: 500;
    line-height: 1.3em;
}

.activity-name {
    line-height: 0.5em;
    display: inline;
}

.activity-location {
    float: right;
    line-height: 1.2em;
    padding-left: 5px;
}

.activity-description {
    color: black;
    font-weight: 300;
    padding-top: 5px;
}

.activity-tags {
    display: inline;

}
#chatbox {
    display:none;
    position:fixed;
    z-index: 1;
    left:100;
    top:100;
    margin-right: auto;
    margin-left:auto;

}