body {
    font-family: 'Roboto', sans-serif;
    background: blue;
}

.container {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}

.logo.landing {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-size: 3em;
    line-height: 0;
}

.logo.landing>h1 {
    display: inline;
}

.check.landing {
    position: absolute;
    font-size: 0.7em;
    border: solid white 1px;
    border-radius: 2px;
    height: 20px;
    width: 25px;
    margin-left: 20px;
    top: -10px;
    padding: 7px 2px 0px 5px ;
    
}

.subtext.landing {
    position: absolute;
    top: 45%;
    left: 12%;
    line-height: 1.2em;
    color: white;
    font-weight: 100;
}

@media (min-width: 550px) {
    .container {
        width: 540px;
    } 
}

@media (min-width: 720px) {
    .container {
        width: 630px;
    }
}

@media (min-width: 900px) {
    .container {
        width: 720px;
    }
}


@media (min-width: 1080px) {
    .container {
        width: 810px;
    }
}


@media (min-width: 1260px) {
    .container {
        width: 900px;
    }
}