body {
    font-family: 'Roboto', sans-serif;
}

.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bkg {
    float:right;
    width: auto;
    height: 100%;
    z-index: 0;
}

.container {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}

.logo>h1 {
    display: inline;
}

.subtext {
    text-transform: uppercase;
}

.inpt {
    font-size: 1.2em;
    background: white;
    padding: 3px 2px;
    border: solid 1px white;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



/*============MEDIA=QUERIES===========================*/
/*Extra-small screens*/
@media (max-width: 460px) {
    .container {
        width: 100%;
        padding: 0;
    }
}

/* Medium screens and larger */
@media (min-width: 550px) {
    .container {
        width: 540px;
    } 
}

@media (min-width: 720px) {
    .container {
        width: 630px;
    }
}

@media (min-width: 900px) {
    .container {
        width: 720px;
    }
}


@media (min-width: 1080px) {
    .container {
        width: 810px;
    }
}


@media (min-width: 1260px) {
    .container {
        width: 900px;
    }
}

/* Aspect ratios */
@media (min-aspect-ratio: 8/6) {
    .bkg {        
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 6/8) {
    .bkg {
        width: auto;
        height: 100%;
    }
}